@use "../utils/mixin" as *;
@use "../base/colors" as *;

.container {
  @include container;
}

.container-full {
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
}

.container-sm {
  margin: 0 auto;
  padding: 0;
}

.container-reset {
  @include container-reset;
}

.container-full {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.container-color_featured {
  background-color: $clr-white;
}

.container-color_accommodation {
  background-color: $clr-brown-50;
}

.container-color_stats {
  background-color: #3b3836;
}

.container-color_contactus {
  background-color: #e8e4e1;
}
