@use "../mantine" as *;
@use "../base/colors" as *;
@use "../utils/mixin" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: $clr-black;
  height: rem(60px);
  // margin-bottom: rem(60px);

  &__wrapper {
    @include container;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 var(--mantine-spacing-md) 0 var(--mantine-spacing-md);
    text-decoration: none;
    color: $clr-brown-100;
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);

    @media (max-width: $mantine-breakpoint-sm) {
      height: rem(42px);
      width: 100%;
    }

    @mixin hover {
      background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-6)
      );
    }

    //to be changed later
    &.active {
      color: $clr-white-50;
      text-decoration: underline;
    }
  }

  &__drawer-root {
    &__content,
    &__header {
      background-color: $clr-black;
    }
    &__title {
      color: $clr-white-50;
    }
  }
}
