@use "../mantine" as *;
@use "../base/colors" as *;

.booking-sf-section.absolute {
  margin-bottom: 40px;
  @media (max-width: $mantine-breakpoint-md) {
    margin-bottom: 240px;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: 280px;
  }
}

.booking-sf {
  border-radius: var(--mantine-radius-md);
  z-index: 10;
}

.booking-sf.absolute {
  position: absolute;
  left: 50%;
  max-width: 1200px;
  width: calc(100% - 16px);
  transform: translate(-50%, -20px);
  box-shadow: 0px 2px 8px 0px rgba(26, 26, 26, 0.16);
}

.booking-sf.relative {
  position: relative;
  background-color: $clr-white;
  // padding: 10px;
  box-shadow: 0px 2px 8px 0px rgba(127, 127, 127, 0.08);
}

.booking-sf {
  background-color: $clr-brown-50;

  &__form {
    &--wrapper {
      display: flex;

      @media (max-width: $mantine-breakpoint-md) {
        flex-direction: column;
      }
    }

    &--field {
      padding: 10px;
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      margin-left: 4px;
      box-sizing: border-box;

      &:first-child {
        margin-left: 0;
        width: 28%;
      }

      &:nth-child(2) {
        flex: 1 1 auto;
      }
      &:nth-child(3) {
        width: 26%;
      }

      &:nth-child(1),
      &:nth-child(3) {
        @media (max-width: $mantine-breakpoint-md) {
          width: 100%;
        }
      }

      &:last-child {
        margin-left: 0;
        button {
          @media (min-width: $mantine-breakpoint-md) {
            height: 100%;
          }
        }
      }

      @media (max-width: $mantine-breakpoint-md) {
        margin-left: 0;
      }
    }

    &--field-row {
      width: 100%;
    }

    &--field-input-wrapper {
      width: 100%;
    }

    &--input,
    &--input-guests {
      width: 100%;
      font-family: "Montserrat";
      color: $clr-black-200;
    }

    &--input-wrapper-guests {
      max-width: 100%;
      width: 100%;
    }

    &--input-guests {
      cursor: pointer;
      display: block;
      background-color: var(--mantine-color-white);
      transition: border-color 100ms ease;
      text-align: left;
      height: 36px;
      min-height: 36px;
      font-size: var(--input-fz, var(--input-fz, var(--mantine-font-size-sm)));
      border: calc(0.0625rem * var(--mantine-scale)) solid
        var(--mantine-color-gray-4);
      border-radius: var(--mantine-radius-default);
      padding-inline-start: var(--input-padding-inline-start);
      padding-inline-end: var(
        --input-right-section-width,
        calc(var(--input-height) - calc(0.125rem * var(--mantine-scale)))
      );
      padding-top: var(--input-padding-y, 0rem);
      padding-bottom: var(--input-padding-y, 0rem);
      overflow: var(--input-overflow);
      position: relative;
      margin-top: var(--input-margin-top, 0rem);
      margin-bottom: var(--input-margin-bottom, 0rem);
    }

    &--input-guests-text {
      font-size: 14px;
    }

    &--input-guests-icon {
      pointer-events: var(--section-pointer-events);
      position: absolute;
      z-index: 1;
      inset-inline-start: var(--section-start);
      inset-inline-end: var(--section-end);
      bottom: var(--section-y);
      top: var(--section-y);
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--section-size);
      border-radius: var(--section-border-radius);
      color: var(--input-section-color, var(--mantine-color-dimmed));
    }

    &--input-wrapper-guests-dropdown {
      @media (max-width: $mantine-breakpoint-md) {
        width: 100%;
      }
    }
  }
}
