@use "../base/colors" as *;

.btn {
  font-weight: 500;
  transition: 0.2s ease;
  border-radius: var(--mantine-radius-sm);
}

.btn-primary,
.btn-secondary,
.btn-outline,
.btn-light {
  font-weight: 500;
}

.btn-primary {
  background-color: $clr-black;
  color: $clr-white-50;

  &:hover {
    background-color: $clr-black-50;
  }
}

.btn-outline {
  border: 1px solid $clr-brown-300;
  color: $clr-brown-300;
}

.btn-light {
  background-color: #d7d1cd;
  color: $clr-brown-300;

  &:hover {
    background-color: #877f7b;
  }
}

.btn-link {
  color: $clr-brown-300;
  transition: 0.2s ease;
  svg {
    color: $clr-brown-300;
  }
  &:hover {
    color: $clr-brown-300;
    text-decoration: underline;
  }
}

.dropdown-link {
  text-decoration: none;
  color: $clr-brown-300;
  font-weight: 400;
}
