@use "../mantine" as *;
@use "../base/colors" as *;

.testimonial-card {
  background-color: #edebe9;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__heading {
    &--title {
      font-weight: 600;
      color: $clr-black-100;
      line-height: 1.2;
      margin-bottom: 8px;
    }
  }
}

.carousel {
  &__indicators {
    outline-offset: -12px;
  }
  &__indicator {
    outline: 2px solid $clr-brown-100;

    width: 12px;
    height: 4px;
    transition: width 250ms ease;

    &[data-active] {
      width: 40px;
      outline: 2px solid $clr-brown-200;
    }
  }

  &__control {
    background-color: $clr-black-200;
    color: $clr-brown-100;
  }
}

.carousel-mobile {
  border-radius: 8px;
  &__indicator {
    width: rem(4px);
    height: rem(4px);
    transition: width 250ms ease;

    &[data-active] {
      width: rem(16px);
    }
  }
}
