@use "../mantine" as *;
@use "../base/colors" as *;

.filter-badge {
  background-color: #d9cfc5;
  color: $clr-black;
  cursor: pointer;
}

.ac-details {
  &__wrapper {
    margin-bottom: rem(160px);
  }

  &__amenities {
    &--group {
      background-color: $clr-brown-50;
    }
  }

  &__booking-box {
    @media (min-width: $mantine-breakpoint-sm) {
      padding: rem(16px);
      background-color: $clr-brown-50;
      border-radius: rem(8px);
    }
  }

  &__input-wrapper {
    width: 90%;
  }
}

.accommodation_desktopview {
  padding-inline: 0px;
  padding-right: 0px;
  padding-left: 0px;
  &__gridwmodal {
    position: relative;

    div {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 6px;
      display: flex;
      align-items: center;
      cursor: pointer;
      p {
        margin-right: 4px;
        color: $clr-brown-50;
      }
    }
  }
}
