@use "../mantine" as *;
@use "../base/colors" as *;

// general
.contactus {
  padding: rem(40px) 0 rem(80px);
  @media (min-width: $mantine-breakpoint-md) {
    padding: rem(96px) 0 rem(144px);
  }
}

// the form
.contactform {
  &__wrapper {
    background-color: #f4f4f5;
    border-radius: var(--mantine-radius-md);
    padding: var(--mantine-spacing-sm);
    @media (min-width: $mantine-breakpoint-md) {
      padding: var(--mantine-spacing-xl);
      box-shadow: var(--mantine-shadow-sm);
    }
  }
  &__input {
    border-radius: 2px;
  }

  &__inputLabel {
    color: $clr-black-200;
  }
}

// information
.contactinfo {
  &__title {
    color: $clr-black;
  }
  &__description {
    margin-top: rem(16px);
    margin-bottom: rem(32px);
  }
}

// the icon(s)
.contacticon {
  &__wrapper {
    display: flex;
    align-items: center;
    color: $clr-grey-200;
  }
  &__icon-wrapper {
    background-color: $clr-black;
    margin-right: var(--mantine-spacing-md);
    padding: rem(10px);
    border-radius: rem(4px);
  }
  &__icon {
    background-color: transparent;
    color: $clr-brown-100;
  }
  &__title {
    color: $clr-grey-300;
    letter-spacing: 1px;
    font-size: rem(14px);
  }
  &__description {
    color: $clr-grey-200;
  }
}
