@use "../base/colors" as *;
@use "../mantine" as *;

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.section-spacing {
  padding-top: rem(32px);
  padding-bottom: rem(32px);
  @media (min-width: $mantine-breakpoint-sm) {
    padding-top: rem(56px);
    padding-bottom: rem(56px);
  }
}
