@use "sass:math";

// Define variables for your breakpoints,
// values must be the same as in your theme
$mantine-breakpoint-xs: "36em";
$mantine-breakpoint-sm: "48em";
$mantine-breakpoint-md: "62em";
$mantine-breakpoint-lg: "75em";
$mantine-breakpoint-xl: "88em";

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

@mixin light {
  [data-mantine-color-scheme="light"] & {
    @content;
  }
}

@mixin dark {
  [data-mantine-color-scheme="dark"] & {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin smaller-than($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin larger-than($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Add direction mixins if you need rtl support
@mixin rtl {
  [dir="rtl"] & {
    @content;
  }
}

@mixin ltr {
  [dir="ltr"] & {
    @content;
  }
}

$mantine-shadow-xs:
  0 1px 3px rgba(0, 0, 0, 0.05),
  0 1px 2px rgba(0, 0, 0, 0.1);

$mantine-shadow-sm:
  0 1px 3px rgba(0, 0, 0, 0.05),
  rgba(0, 0, 0, 0.05) 0 10px 15px -5px,
  rgba(0, 0, 0, 0.04) 0 7px 7px -5px;

$mantine-shadow-md:
  0 1px 3px rgba(0, 0, 0, 0.05),
  rgba(0, 0, 0, 0.05) 0 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
