@use "../mantine" as *;

@mixin container {
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
  padding: 0 var(--mantine-spacing-md) 0 var(--mantine-spacing-md);
}

@mixin container-reset {
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
}

@mixin pl-pr() {
  padding: 0 var(--mantine-spacing-md) 0 var(--mantine-spacing-md);
}

@mixin track-styles {
  appearance: none;
  background: transparent;
  border: transparent;
}

@mixin thumb-styles {
  appearance: none;
  pointer-events: all;
  width: var(--thumb);
  height: var(--thumb);
  border-radius: 0px;
  border: 0 none;
  cursor: grab;
  background-color: red;

  &:active {
    cursor: grabbing;
  }
}
