@use "../mantine" as *;

.p-0 {
  padding: 0;
}

.p-120 {
  padding: rem(120px) 0;
}

.pb-120 {
  padding-bottom: rem(120px);
}

.p-140 {
  padding: rem(140px) 0;
}

// Margins

//margin left
.ml-4 {
  margin-left: rem(4px);
}
.ml-8 {
  margin-left: rem(8px);
}

// margin top
.mt-8 {
  margin-top: rem(8px);
}
.mt-16 {
  margin-top: rem(16px);
}

.mt-32 {
  margin-top: rem(32px);
}

// margin bottom
.mb-8 {
  margin-bottom: rem(8px);
}
.mb-16 {
  margin-bottom: rem(16px);
}
.mb-24 {
  margin-bottom: rem(24px);
}
.mb-32 {
  margin-bottom: rem(32px);
}
.mb-40 {
  margin-bottom: rem(40px);
}

// various
.align-content {
  display: flex;
  align-items: center;
}
