@use "../mantine" as *;

.booking-section.b-s-home {
  // padding-top: rem(48px);
}

.booking-section {
  background-color: var(--clr-brown-5);
  border-radius: var(--border-rd-medium);
  padding: 16px;

  &__form {
    &--label {
      margin-bottom: rem(8px);
      color: var(--clr-brown-2);
    }
  }

  &__search-button {
    @media (min-width: $mantine-breakpoint-md) {
      height: 100%;
    }
  }
}

.booking-divider {
  border-color: var(--clr-gray-3);
}
