@use "../mantine" as *;
@use "../05-utils/mixin" as *;

.hidden {
  display: none;
}

.fileUpload {
  &__wrapper {
    position: relative;
  }
  &__delete {
    position: absolute;
    top: 0;
    right: 0;
  }
}
