@font-face {
  font-family: "Canela";
  font-weight: 400;
  src: url(/font/Canela/Canela-Regular-Trial.otf);
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  font-weight: 500;
  src: url(/font/Canela/Canela-Medium-Trial.otf);
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  font-weight: 700;
  src: url(/font/Canela/Canela-Bold-Trial.otf);
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400, 500, 600, 700;
  src: url(/font/Montserrat/Montserrat-VariableFont_wght.ttf) format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Italic";
  font-weight: 400, 500, 600, 700;
  src: url(/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf)
    format("ttf");
  font-style: italic;
}
