// :root {
//primary - brown
$clr-brown: #796559;
$clr-brown-50: #f1eeed;
$clr-brown-100: #c5bcb3;
$clr-brown-200: #55473e;
$clr-brown-300: #302824;

//secondary - black
$clr-black: #0f0d12;
$clr-black-50: #3f3d41;
$clr-black-100: #27252a;
$clr-black-200: #151217;
$clr-black-300: #080709;
$clr-black-op-low: rgba(15, 13, 18, 0.7);

// grey
$clr-grey: #878689;
$clr-grey-50: #c3c3c4;
$clr-grey-100: #6c6b6e;
$clr-grey-200: #515052;
$clr-grey-300: #363637;

// white
$clr-white: #fbfbfb;
$clr-white-50: #dddddd;
$clr-white-100: #c4c4c4;
$clr-white-200: #acacac;
$clr-white-300: #939393;

// semantics
$clr-red-800: #e03131;
$clr-red-900: #c92a2a;
$clr-green-500: #037c40;
$clr-yellow-500: #ce7800;
$clr-blue-500: #1151bf;
// }
